* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #111;
}

#time-container {
  width: 500px;
  height: 240px;
  margin: 200px auto 0 auto;
  padding: 25px 0;
  text-align: center;
  border: 5px solid #222;
  border-radius: 25px;
  box-shadow: 5px 6px 2px rgba(0, 0, 0, 0.5);
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#time-display {
  width: 80%;
  margin: 25px auto 25px auto;
  font-size: 75px;
  border-radius: 24px;
  outline: 1px solid whitesmoke;
  background-color: #222;
  color: rgb(29, 201, 29);
  font-family: consolas, monospace;
  box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.timerBtn {
  width: 80px;
  height: 30px;
  border: 2px solid;
  border-radius: 12px;
  background-color: #222;
  font-size: 16px;
  font-weight: 900;
  color: whitesmoke;
  cursor: pointer;
  font-family: consolas, monospace;
  box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease;
}

.timerBtn:hover {
  color: rgb(29, 201, 29);
}

#contdown-container {
  position: relative;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 25px;
  box-shadow: 5px 6px 2px rgba(0, 0, 0, 0.5);
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#msgToast {
  position: absolute;
  width: 320px;
  height: 26px;
  top: 5px;
  left: calc(50% - 160px);
  text-align: center;
  font-family: consolas, monospace;
  font-size: 21px;
  word-spacing: -5px;
  border-radius: 24px;
  outline: 1px solid whitesmoke;
  color: rgb(29, 201, 29);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #222;
  transform: rotateX(90deg);
  opacity: 1;
  transition: all 1s ease-in-out;
}
#msgToast.active {
  transform: rotateX(0deg);
  opacity: 1;
}

#contdown-display {
  font-size: 25px;
  margin-top: 32px;
  align-items: center;
  color: rgb(29, 201, 29);
  font-family: consolas, monospace;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerInput {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  height: 105px;
}

input {
  width: 95px;
  height: 75px;
  border: 2px solid whitesmoke;
  border-radius: 24px;
  background-color: #222;
  color: rgb(29, 201, 29);
  cursor: pointer;
  font-family: consolas, monospace;
  font-size: 32px;
  text-align: center;
  box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.6s ease;
}

input:focus {
  outline: none;
  border: 2px solid rgb(29, 201, 29);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.countdownBtnPlus {
  position: absolute;
  width: 42px;
  height: 25px;
  left: 19px;
  bottom: -30px;
}
.countdownBtnMinus {
  position: absolute;
  width: 42px;
  height: 25px;
  right: 19px;
  bottom: -30px;
}

#count-buttons,
#time-buttons {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#time-buttons {
  padding: 0 112px;
}

#count-buttons {
  top: 50px;
  left: 0;
  padding: 0 156px;
}

.timerBtn.active {
  color: rgb(29, 201, 29);
}
